.about {
  padding: 4rem 2rem;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--color-blue);
}

.about p {
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: aliceblue;
}
