/* ProjectDetail.css */
.project-detail {
  padding: 2rem;
  background: #1a1a1a;
  color: white;
  text-align: center;
}

.close-btn {
  background: none;
  color: #ccc;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.tech-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.screenshots {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.screenshots img {
  width: 250px;
  border-radius: 8px;
}
