.projects {
  padding: 4rem 2rem;
  text-align: center;
  min-height: 100vh;
  scroll-margin-top: 40px;
}

.project-cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease;
  border: 1px solid aliceblue;
}

.card-title {
  font-size: 1.2rem;
  padding: 0.7rem;
  font-weight: bold;
  color: #333;
  border-bottom: 1px solid #eee;
  background: #d1deea;
}

.card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.8;
}

.card-footer {
  padding: 0.7rem;
  border-top: 1px solid #eee;
  background: #d1deea;
}

.card-footer button {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--color-blue);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-footer button:hover {
  background-color: #0056b3;
}

.title {
  font-size: 2rem;
  color: aliceblue;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
